/* barra de navegacion */
.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}
/* barra de navegacion */

/* hero section */
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}
/* hero section */

/* hero-principal */
.hero-principal {
    padding: 3rem;
}
/* hero-principal */

/* hero-imagen */
.hero-imagen {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 2px solid black;
}
/* hero-principal */

.hero-principal h2 {
    font-size: 1.5 rem;
    color: #615151;
}

.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}



/* estilos generales */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* estilos generales */

h1 {
    font-size: 2.5 rem;
    font-family: 'Rubik dirt', cursive;
}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Rubik Dirt', cursive;
}

.seccion-texto {
    font-size: 1.2rem;

}

/* responsivo */
@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}

/* responsivo */
@media screen and (max-width: 700px){
    .hero-inferior-imagen{
        max-width: 600px;
    }
}
