.row{
    background-color: orange;
    border: 3px solid rgb(110, 73, 5);
    padding: 5px;
    margin: 10px;
}

.col{
    background-color: #d40655;
    color: white;
    font-size: 50px;
    border: 2px solid #64
}