.columna{
    background-color: #05077b;
    color: white;
    font-size: 25px;
    border: 5px solid white;
}

.row{
    background-color: orange;
    border: 3px solid rgb(110, 73, 5);
    padding: 5px;
    margin: 10px;
}

000000